<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_with_gripper">

  <!--
    FIX: 
    1. We declare the 'ur_type' argument. The launch file
       will pass its value to this argument.
  -->
  <xacro:arg name="name" default="ur5"/>
  <xacro:arg name="ur_type" default="ur5"/>
  <!-- 
    1. Include the UR5e robot arm 
    
    FIX:
    2. We simply include the file. It will *inherit* the 
       'ur_type' argument from this file's scope.
       The child <xacro:arg> tag has been removed as it was being ignored.
  -->
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

  <!-- 2. Include your gripper (this file doesn't need any arguments) -->
  <xacro:include filename="$(find end_effector)/urdf/my_gripper.urdf" />

  <!-- 3. Attach the gripper to the arm's tool0 link -->
  <joint name="gripper_to_flange_joint" type="fixed">
    <!-- The URDF 'tool0' link is the mounting flange -->
    <parent link="tool0" /> 
    <child link="gripper_base_link" />
    <origin xyz="0.2 0.2 0.2" rpy="0 -1.5708 0" />
  </joint>

</robot>

